HeavyClient/Connected Services/JCDecaux/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Proxy.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Proxy.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JCDecauxItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="stations" nillable="true" type="tns:ArrayOfJCDecauxItem.Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDecauxItem" nillable="true" type="tns:JCDecauxItem" />
  <xs:complexType name="ArrayOfJCDecauxItem.Station">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDecauxItem.Station" nillable="true" type="tns:JCDecauxItem.Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDecauxItem.Station" nillable="true" type="tns:ArrayOfJCDecauxItem.Station" />
  <xs:complexType name="JCDecauxItem.Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="available_bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="available_bikes" type="xs:int" />
      <xs:element minOccurs="0" name="bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="contract_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="position" nillable="true" type="tns:JCDecauxItem.Position" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDecauxItem.Station" nillable="true" type="tns:JCDecauxItem.Station" />
  <xs:complexType name="JCDecauxItem.Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDecauxItem.Position" nillable="true" type="tns:JCDecauxItem.Position" />
</xs:schema>