HeavyClient/Connected Services/JCDecaux/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/JCDecaux/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proxy.Models" />
  <xs:element name="GetAllStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proxy.Models" minOccurs="0" name="GetAllStationsResult" nillable="true" type="q1:JCDecauxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsFromCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStationsFromCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proxy.Models" minOccurs="0" name="GetAllStationsFromCityResult" nillable="true" type="q2:JCDecauxItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>